<!-- specifications for displaying the song data -->
<!DOCTYPE html>
<html>
<head>
    <title>Deezer API Web Page</title>
</head>
<body>
    <h1>Deezer API Web Page</h1>
    <form action="/" method="POST">
        <input type="radio" name="search_type" value="album" checked> Album<br>
        <input type="radio" name="search_type" value="song"> Song<br>
        <input type="radio" name="search_type" value="artist"> Artist<br><br>
        <input type="text" name="query" placeholder="Enter album, song, or artist"><br><br>
        <input type="submit" value="Submit">
        <input type="reset" value="Clear">
    </form>
    <h1>Song Details for {{ song_title }}</h1>
    <p>Artist: {{ artist_name }}</p>
    <p>Album: {{ album_title }}</p>
    <p>Release date: {{ release_date }}</p>
</body>
</html>
